$blue : #25316D;
$blue__nav :#5f6f94ad;
$fontcolor: #eee;
$bordercolor: 0.5rem solid #97D2EC;
$bordercolorklein: 0.15rem solid #97D2EC;
$yellow:#FEF5AC;
$linear-gradient-default:linear-gradient( rgb(151, 210, 236, 0.25),80%,rgb(254, 245, 172, 0.25));
