@use 'colors';
@use 'font';

//standaard display flex


//Call to action button met hover

%cta{
    width: 12rem;
    padding: 1.6rem;
    font-size: 75%;
    background: colors.$fontcolor;
    border: none;
    color: colors.$blue;
    border-radius: 0.5rem;
    text-transform: uppercase;
}

%cta:hover{
    cursor: pointer;
    background:darken(colors.$yellow, 10%) ;
    transition: 0.4s;
}

//h2 heading for header and sections

%h2HandwritingHeader{
    font-family: font.$handwriting;
    font-size: 280%; 
}

%h2HandwritingArticles{
    width: 100%;
    font-family: font.$handwriting;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    color: colors.$fontcolor;
    font-size: 350%;
}

//sectionhoofd

%sections{
    padding: 4rem;
    width: 100%;
   
}

