@use 'colors';
@use 'font';
@use 'components';


.footer {
    height: 13.5rem;
    width: 100%;
}

.footer__figure {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer__icon {
    font-size: 200%;
    border: 0.15rem solid #97D2EC;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}

.footer__icon:hover{
    color: colors.$fontcolor;
}