@use '../abstract/variables';

.tasks{
    background: map-get(variables.$tasksVars, "background" );
    width: 35rem;
    padding: 2rem;
    margin: 2rem;
    border-radius: 0.25rem;
    overflow-y: scroll;

    &--hidden{
        display: none;
    }

    &__header{
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__h2{
        font-size: 150%;
        font-weight: 700;
    }

    &__headerWrapper{
        display: flex;
        gap:2rem;
        align-items: flex-end;
    }

    &__number{
        background: darken(variables.$background,10%);
        font-size: 90%;
        padding: 0.75rem;
        font-weight: 500;
        color: #eee;
        border-radius: 0.25rem;
    }

    &__edit{
        border: none;
        background: none;
        font-size: 150%;
        padding-bottom: 1rem;
        font-family: "Open Sans";
        line-height: 1;
        cursor: pointer;
        transition: 0.25s;


    }

    &__list{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top:1rem ;
    }

    &__listItem{
        background: #eee;
        padding: 1rem;
        border-radius: 0.25rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        display: flex;
        flex-direction: column;
        gap: 0.5rem ;
    }

    &__label{
        background: rgb(140, 204, 45);
        width: max-content;
        padding: 0.25rem 1rem 0.25rem 1rem;
        border-radius: 0.25rem;
        color: white;

        &--morgen{
            background: rgb(198, 65, 87);
        }

        &--volgendeweek{
            background: rgb(33, 172, 182);
            
        }

        &--ooit{
            background: rgb(31, 33, 33);

        }

        &--gedaan{
            background: rgb(157, 33, 182);

        }
    }

    &__initials{
        width: 5rem;
        height: 5rem;
        background: rgba(204, 255, 0, 0.804);
        text-transform: uppercase;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%  ;
    }

    &__h3{
        font-size: 110%;
        padding-top: 2rem;
        color: rgb(62, 62, 62);
        cursor: pointer;
        border: none;
        background: none;
        font-weight: 700;
    }
}

.wrapper{
    display: flex;
    justify-content: flex-end;
}

