.gallerij__button, .header__button, .nav__button {
  width: 12rem;
  padding: 1.6rem;
  font-size: 75%;
  background: #eee;
  border: none;
  color: #25316D;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.gallerij__button:hover, .header__button:hover, .nav__button:hover {
  cursor: pointer;
  background: #fdef7a;
  transition: 0.4s;
}

.header__h2 {
  font-family: "Great Vibes", cursive;
  font-size: 280%;
}

.gallerij__header, .kenmerken__header, .over__header {
  width: 100%;
  font-family: "Great Vibes", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: #eee;
  font-size: 350%;
}

.kenmerken, .over {
  padding: 4rem;
  width: 100%;
}

.nav {
  width: 100%;
  min-height: 6rem;
  background: rgba(95, 111, 148, 0.6784313725);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #eee;
  font-size: 130%;
  padding: 2rem;
  text-transform: uppercase;
  position: fixed;
  z-index: 1;
  transition: 0.3s;
}

.nav__logo {
  font-size: 250%;
  border: 0.5rem solid #97D2EC;
  border-radius: 50%;
  padding: 1rem;
}

.nav:hover {
  background: #5f6f94;
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 4rem;
}

.nav__link {
  color: #eee;
  text-decoration: none;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
  font-family: "lato", sans-serif;
  background: #25316D;
}

hr {
  border: 0.15rem solid #97D2EC;
  margin: 2rem;
  border-radius: 0.5rem;
}

a {
  color: #eee;
  background: none;
}

.header {
  height: 100vh;
  width: 100%;
  position: relative;
}

.header__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

.header__div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  color: rgb(255, 255, 255);
  background: linear-gradient(rgba(151, 210, 236, 0.25), 80%, rgba(254, 245, 172, 0.25));
}

.header__logo {
  font-size: 300%;
  border: 0.5rem solid #97D2EC;
  border-radius: 50%;
  padding: 1rem;
}

.header__h1 {
  font-family: "Great Vibes", cursive;
  font-size: 500%;
}

.over__articles {
  gap: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.over__p {
  width: 55ch;
  color: #eee;
  padding-bottom: 2rem;
}

.over__figure {
  width: 35%;
  position: relative;
  border-radius: 0.25rem;
}

.over__figure::after {
  content: "";
  background: linear-gradient(rgba(151, 210, 236, 0.25), 80%, rgba(254, 245, 172, 0.25));
  width: 100%;
  height: 99%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.25rem;
}

.over__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
}

.kenmerken__header {
  height: 20%;
}

.kenmerken__lijst {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 80%;
}

.kenmerken__lijstitem {
  display: flex;
  flex-direction: column;
  width: 40%;
  list-style: none;
  color: #eee;
  flex-shrink: 0;
  padding: 1rem;
  border-radius: 0.5rem;
  align-items: center;
}

.kenmerken__icon {
  font-size: 200%;
  border: 0.15rem solid #97D2EC;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kenmerken__p {
  width: 40ch;
  text-align: center;
}

.gallerij {
  min-height: 80vh;
}

.gallerij__header {
  padding: 4rem;
}

.gallerij__fotos {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.gallerij__foto {
  width: 25%;
  height: 40rem;
  position: relative;
}

.gallerij__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.gallerij__gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(151, 210, 236, 0.5), 80%, rgba(254, 245, 172, 0.5));
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transition: 0.8s;
  transform-origin: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallerij__button {
  opacity: 0;
  transition-delay: 0.8s;
  transition-duration: 0.2s;
}

.gallerij__foto:hover > .gallerij__gradient {
  transform: scale(1);
}

.gallerij__foto:hover .gallerij__button {
  opacity: 1;
}

.footer {
  height: 12rem;
  width: 100%;
}

.footer__figure {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer__icon {
  font-size: 200%;
  border: 0.15rem solid #97D2EC;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}

.footer__icon:hover {
  color: #eee;
}

@media screen and (max-width: 75rem) {
  body {
    font-size: 1.6rem;
  }
  .header {
    height: 140rem;
  }
  .over {
    min-height: 140rem;
  }
  .over__header {
    height: 10%;
  }
  .over__columns {
    flex-direction: column;
    height: 90%;
  }
  .over__column {
    height: 60%;
  }
  .over__p {
    width: 100%;
  }
  .over__figure {
    position: relative;
    width: 100%;
    height: 40%;
  }
  .kenmerken {
    min-height: 120rem;
  }
  .kenmerken__listItem {
    width: 100%;
  }
  .gallerij {
    height: auto;
  }
  .gallerij__fotos {
    flex-wrap: wrap;
  }
  .gallerij__foto {
    height: 20rem;
    width: 100%;
  }
  .gallerij__foto:hover .gallerij__button {
    opacity: 0;
  }
  .gallerij__foto:hover .gallerij__gradient {
    transform: scale(0);
  }
}
@media screen and (max-width: 50rem) {
  .nav__list {
    flex-direction: column;
  }
  .over__columns {
    padding: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
