@use './abstract/colors';
@use './abstract/mixins';


*:focus{
    outline: 0.1rem dashed blue !important;
}

body{
    background: colors.$gradient;
    min-height: 100vh;
    @include mixins.flexCenter;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4rem;
    font-family: 'Lato', sans-serif;
}