@use '../abstract/variables';

.garantie{
    height: 10rem;
    width: 100%;
    background: rgb(248, 248, 248);
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
    &__vak{
        width: 40rem;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        &--icon{
            height: 5rem;
            width: 5rem;
            background: rgb(192, 192, 192);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--p{
            font-size: 70%;
            width: 80%;
            font-weight: bold;
        }
    }
}

.garantie2{
    min-height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(248, 248, 248);
    margin-top: 4rem;
    padding: 2rem;
    gap: 2rem;

    &__h2{
        font-family: variables.$handwriting;
    }

    &__games{
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        margin: 1rem;
        
        &--img{
            width: 10rem;
            height: 5rem;
            object-fit: contain;
            opacity: 0.5;
        }
    }
}

@media screen and (max-width:40.625rem) {
    .garantie__vak--p{
        display: none;
    }
}